{{extend 'layout.html'}}
{{block head}}
<!-- fonction calcul kcals -->
<script type="text/javascript">

</script>
{{end}}

{{block content}}
<div class="container">
{{if response.flash:}}
<div class="alert alert-{{=response.type}} fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <strong>{{=response.flash}}</strong>
</div>
{{pass}}
<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li><a href="{{=URL(c='index',f='index')}}">Home</a></li>
      <li><a href="{{=URL(c='admin',f='index')}}">Admin</a></li>
      <li><a href="{{=URL(c='admin',f='ingredients')}}">Ingrédients</a></li>
      <li class="active">Ajouter ingrédient</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h1>Ajouter un ingrédient</h1>
  </div>
</div>
  <form action="#" enctype="multipart/form-data" method="post" class="form-horizontal" role="form">

  	<div class="form-group">
  	    <label for="aliments_name" class="col-sm-2 control-label">Nom :</label>
  	    <div class="col-sm-10">
  	      <input class="string form-control" id="aliments_name" name="name" type="text" value="" placeholder="Nom de l'aliment">
  	    </div>
    	</div>
  	<div class="form-group">
  	    <label for="aliments_kcals" class="col-sm-2 control-label">Kcals :</label>
  	    <div class="col-sm-10">
  	      <input class="double form-control" id="aliments_kcals" name="kcals" type="number" value="" step="any" placeholder="0">
  	    </div>
    	</div>
  	<div class="form-group">
  	    <label for="aliments_proteines" class="col-sm-2 control-label">Protéines :</label>
  	    <div class="col-sm-10">
  	      <input class="double form-control" id="aliments_proteines" name="proteines" type="number" value="" step="any" placeholder="0">
  	    </div>
    	</div>
  	<div class="form-group">
  	    <label for="aliments_glucides" class="col-sm-2 control-label">Glucides :</label>
  	    <div class="col-sm-10">
  	      <input class="double form-control" id="aliments_glucides" name="glucides" type="number" value="" step="any" placeholder="0">
  	    </div>
    	</div>
  	<div class="form-group">
  	    <label for="aliments_lipides" class="col-sm-2 control-label">Lipides :</label>
  	    <div class="col-sm-10">
  	      <input class="double form-control" id="aliments_lipides" name="lipides" type="number" value="" step="any" placeholder="0">
  	    </div>
    	</div>  	  	  	  	
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Valider</button>
      </div>
    </div>
  	{{=form.custom.end}}
</div>
{{end}}