{{extend 'layout.html'}}
	{{block content}}
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>Recettes</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h2>Liste des recettes</h2>
          <p><a class="btn btn-default" href="{{=URL(c='admin',f='liste_recettes')}}" role="button">Voir la liste des recettes &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Ajouter une recette</h2>
          <p><a class="btn btn-default" href="{{=URL(c='admin',f='ajouter_recette')}}" role="button">Ajouter une recette &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Supprimer une recette</h2>
          <p><a class="btn btn-default" href="{{=URL(c='admin',f='supprimer_recette')}}" role="button">Supprimer une recette &raquo;</a></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-12">
          <h1>Aliments</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h2>Voir la liste des ingrédients</h2>
          <p><a class="btn btn-default" href="{{=URL(c='admin',f='liste_ingredients')}}" role="button">Voir la liste des aliments &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Ajouter un ingrédient</h2>
          <p><a class="btn btn-default" href="{{=URL(c='admin',f='ajouter_ingredient')}}" role="button">Ajouter un ingrédient &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Supprimer un ingrédient</h2>
          <p><a class="btn btn-default" href="{{=URL(c='admin',f='supprimer_ingredient')}}" role="button">Supprimer un ingrédient &raquo;</a></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-12">
          <h1>Catégories</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h2>Voir la liste des catégories</h2>
          <p><a class="btn btn-default" href="{{=URL(c='admin',f='liste_categories')}}" role="button">Voir la liste des catégories &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Ajouter une catégorie</h2>
          <p><a class="btn btn-default" href="{{=URL(c='admin',f='ajouter_categorie')}}" role="button">Ajouter une catégorie &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Supprimer une catégorie</h2>
          <p><a class="btn btn-default" href="{{=URL(c='admin',f='supprimer_categorie')}}" role="button">Supprimer une catégorie &raquo;</a></p>
        </div>
      </div>
  </div>
	{{end}}