{{extend 'layout.html'}}
	{{block content}}
<div class="container">
{{if response.flash:}}
<div class="alert alert-{{=response.type}} fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <strong>{{=response.flash}}</strong>
</div>
{{pass}}
<p><a class="btn btn-default" href="{{=URL(c='admin',f='index')}}" >Retour à l'admin</a></p>
<h1>Liste des ingrédients</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Intitulé</th>
      <th>Temps de préparation</th>
      <th>Temps de cuisson</th>
      <th>Autres temps</th>
      <th>Kcals</th>
      <th>Protéines</th>
      <th>Glucides</th>
      <th>Lipides</th>
      <th>Catégories</th>
      <th>Ingrédients</th>
    </tr>
  </thead>
  <tbody>
    {{for recette in liste_recettes:}}
    <tr>
      <td>{{=recette.recette.intitule}}</td>
      <td>{{=recette.recette.temps_preparation}}</td>
      <td>{{=recette.recette.temps_cuisson}}</td>
      <td>{{=recette.recette.temps_autre}}</td>
      <td>{{=recette.recette.kcals}}</td>
      <td>{{=recette.recette.proteines}}</td>
      <td>{{=recette.recette.glucides}}</td>
      <td>{{=recette.recette.lipides}}</td>
      <td>{{=recette.recette_has_categorie}}</td>
      <td>{{=recette.recette_has_ingredient}}</td>
    </tr>
    {{pass}}
  </tbody>
</table>
</div>
{{end}}