{{extend 'layout.html'}}
	{{block content}}
<div class="container">
{{if response.flash:}}
<div class="alert alert-{{=response.type}} fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <strong>{{=response.flash}}</strong>
</div>
{{pass}}
<p><a class="btn btn-default" href="{{=URL(c='admin',f='index')}}" >Retour à l'admin</a></p>
<h1>Liste des ingrédients</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
    </tr>
  </thead>
  <tbody>
    {{for categorie in liste_categories:}}
    <tr>
      <td>{{=categorie.name}}</td>
    </tr>
    {{pass}}
  </tbody>
</table>
</div>
	{{end}}