{{extend 'layout.html'}}
	{{block content}}

		<div class="container">
			<h1>Recettes</h1>
			<div class="row">
				<div class="col-lg-9">
					<div class="list-group">
						<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">Apéro 1</h4>
							<p class="list-group-item-text">
								Temps de préparation : xx minutes <br/>
								Temps de cuisson : xx minutes
							</p>
						</a>
						<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">Apéro 2</h4>
							<p class="list-group-item-text">
								Temps de préparation : xx minutes <br/>
								Temps de cuisson : xx minutes
							</p>
						</a>
						<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">Apéro 3</h4>
							<p class="list-group-item-text">
								Temps de préparation : xx minutes <br/>
								Temps de cuisson : xx minutes
							</p>
						</a>
						<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">Apéro 4</h4>
							<p class="list-group-item-text">
								Temps de préparation : xx minutes <br/>
								Temps de cuisson : xx minutes
							</p>
						</a>
						<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">Apéro 5</h4>
							<p class="list-group-item-text">
								Temps de préparation : xx minutes <br/>
								Temps de cuisson : xx minutes
							</p>
						</a>
						<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">Apéro 6</h4>
							<p class="list-group-item-text">
								Temps de préparation : xx minutes <br/>
								Temps de cuisson : xx minutes
							</p>
						</a>
					</div>
				</div>
			</div>
		</div>
		{{end}}
