<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>My Fit Meals</title>

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <nav class="navbar navbar-default navbar-static-top navbar-project" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-brand-projet" style="padding-top=0;padding-bottom=0;"href="{{=URL(c='index',f='index')}}"><img alt="Brand" width="100" height="100" src="{{=URL('static','images/myfitmeals-o.png')}}"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#"><i class="fa fa-facebook fa-3"></i>&nbsp;&nbsp;</a></li>
            <li><a href="#"><i class="fa fa-twitter fa-3"></i>&nbsp;&nbsp;</a></li>
            <li><a href="#"><i class="fa fa-youtube-play fa-3"></i>&nbsp;&nbsp;</a></li>
            <li><a href="#"><i class="fa fa-pinterest fa-3"></i>&nbsp;&nbsp;</a></li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Créer un compte</a></li>
            <li><a href="#">Se connecter</a></li>
          </ul>
        </div>
        <!--<div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#about">Nutrition</a></li>
              <li><a href="#contact">Recettes</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-header">Aliments</li>
                  <li><a href="{{=URL(c='admin',f='liste_aliments')}}">Liste aliments</a></li>
                  <li><a href="{{=URL(c='admin',f='ajouter_aliment')}}">Ajouter aliment</a></li>
                  <li><a href="{{=URL(c='admin',f='supprimer_aliment')}}">Supprimer aliment</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Recettes</li>
                  <li><a href="{{=URL(c='admin',f='liste_recettes')}}">Liste recettes</a></li>
                  <li><a href="{{=URL(c='admin',f='ajouter_recette')}}">Ajouter recette</a></li>
                  <li><a href="{{=URL(c='admin',f='modifier_recette')}}">Modifier recette</a></li>
                  <li><a href="{{=URL(c='admin',f='supprimer_recette')}}">Supprimer recette</a></li>
                </ul>
              </li>                
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><button type="button" class="btn btn-default navbar-btn">{{=T('Create an account')}}</button></li>
              <li><button type="button" class="btn btn-default navbar-btn">{{=T('Sign in')}}</button></li>
            </ul>
          </div>
        </div>-->
      </nav>
      {{include}}
      {{block content}}{{end}}
      <!-- FOOTER -->
      <footer class="footer">
        <div class="container">
          <div class="row">
          <!-- Project X -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <h3>Project X</h3>
              <p>&copy; 2014 Project X </p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <h3>{{=T('Company')}}</h3>
              <p>
                <a href="{{=URL(c='misc',f='about')}}">{{=T('About')}}</a><br/>
              </p>
            </div>
          <!-- Policies -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <h3>{{=T('Policies')}}</h3>
              <p>
                <a href="{{=URL(c='misc',f='privacy')}}">{{=T('Privacy')}}</a><br/>
                <a href="{{=URL(c='misc',f='terms')}}">{{=T('Terms')}}</a>
              </p>
            </div>
          <!-- Administration -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <h3>{{=T('Administration')}}</h3>
              <p>
                <a href="{{=URL(c='admin',f='index')}}">{{=T('Admin Zone')}}</a>
              </p>
            </div>
          </div>
        </div>
      </footer>
    {{
    response.files.insert(0,URL('static','css/pace.css'))
    response.files.insert(1,URL('static','css/bootstrap.min.css'))
    response.files.insert(2,URL('static','css/carousel.css'))
    response.files.insert(3,URL('static','css/css-project.css'))
    response.files.insert(4,URL('static','js/pace.min.js'))
    response.files.insert(5,URL('static','js/jquery-2.1.1.min.js'))
    response.files.insert(6,URL('static','js/bootstrap.min.js'))
    response.files.insert(7,URL('static','js/chart.js'))
    }}
    {{block insert}}
    {{end}}
    {{response.include_files()}}

    {{block head}}
    {{end}}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </body>
</html>