{{extend 'layout.html'}}

  {{block head}}

  {{for recette in liste_recettes:}}
  <script>
  // Get context with jQuery - using jQuery's .get() method.
  var ctx = $("#recipe{{=recette['id']}}").get(0).getContext("2d");
  var data = [
    {
        value: {{=recette['proteines']}},
        color:"#EA9999",
        highlight: "#990000",
        label: "Protéines"
    },
    {
        value: {{=recette['glucides']}},
        color: "#FFE599",
        highlight: "#BF9000",
        label: "Glucides"
    },
    {
        value: {{=recette['lipides']}},
        color: "#B4A7D6",
        highlight: "#351C75",
        label: "Lipides"
    }
];
  // This will get the first returned node in the jQuery collection.
  var myPieChart = new Chart(ctx).Pie(data);
  </script>
  {{pass}}
  {{end}}
	{{block content}}
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 en-tete">
          <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Les mieux notées</a></li>
            <li role="presentation"><a href="#">Rapides</a></li>
            <li role="presentation"><a href="#">De saison</a></li>
            <li role="presentation"><a href="#">Au hasard</a></li>
          </ul>
        </div>
        {{for recette in liste_recettes:}}
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
          <div class="recipe-wrapper">
            <div class="recipe-left">
              <div class="recipe-title">
                <h2><a href="{{=recette['href']}}">{{=recette['titre']}}</a></h2>
              </div>
              <div class="recipe-image">
                <a href="{{=recette['href']}}"><img src="{{=recette['img']}}" alt="{{=recette['img_alt']}}" class="img-responsive"></a>
              </div>
            </div>
            <div class="recipe-right">
              <div class="recipe-empty">
                <h3>{{=recette['kcals']}} kcals</h3>
              </div>
              <div class="recipe-other">
                <p><canvas id="recipe{{=recette['id']}}" width="75" height="75"></canvas></p>
                <p><span class="glyphicon glyphicon-time"></span> Préparation: <br/>{{=recette['temps']}}</p>
                <p><span class="glyphicon glyphicon-time"></span> Cuisson:<br/>{{=recette['temps']}}</p>
                <p>
                {{for hashtag in recette['liste_hashtag']:}}
                {{=hashtag}}
                {{pass}} 
                </p>
                <!-- Note -->
                <p>{{for i in range(0,recette['note']):}}
                   <span class="glyphicon glyphicon-star"></span>
                   {{pass}}
                   {{for i in range(recette['note'],5):}}
                   <span class="glyphicon glyphicon-star-empty"></span>
                   {{pass}}
                </p>
              </div>
            </div>
          </div>
        </div>
        {{pass}}
      </div>


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->
  </div>
	{{end}}