.navbar-project {
	height: 106px;
	margin-bottom: 0px;
}

.jumbotron-project {
	padding: 0px;
	margin: 0px;
	height: 250px;
}

.container-jumbotron{
	padding: 0px;
	margin: 0px;
	height: 250px;
	overflow: hidden;
}

#img-jumbotron{
  	/* Preserve aspect ratio */
  	min-width: 100%;
  	min-height: 100%;
}

.footer {
	position: relative;
	bottom: 0px;
	width: 100%;
	height: 250px;
	background-color: #383838;
}

body {
	padding-bottom: 0px;
	background-color: #fff;
}

.recipe-title {
	background-color: #383838;
	height: 40px;
	text-align: center;
}

.recipe-title h2,h3 {
	margin: 0px;
	padding: 5px;
	text-align: center;
}

.recipe-title h2 a{
	color: white;
	text-decoration: none;
	text-align: center;
}

.recipe-wrapper {
	background-color: white;
	margin-bottom: 5px;
	margin-top: 10px;
	height: 375px;
}

.recipe-left {
	position: relative;
	float: left;
	width: 70%;
	height: 375px;
	margin-right: 5px;
}

.recipe-right {
	position: relative;
	float: right;
	width: 28%;
	height: 375px;
	text-align: center;
}

.recipe-empty {
	background-color: #383838;
	height: 40px;
}

.recipe-other {
	background-color: #383838;
	height: 335px;
}



.en-tete {
	margin-top: 10px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.recette-container{
	background-color: teal;
	padding: 20px;
}

.recette-wrapper{
	width: 100%;
}

.recette-bouton-carnet{

}

.recette-title{
	text-transform: uppercase;
	font-size: 50px;
	text-align: center;
	border: 2px solid black;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	color: black;
}

.recette-tags{
	border: 2px solid black;
	text-align: center;
	padding: 10px;
	background-color: white;
	color: black;
}

.recette-encart{
	border: 2px solid black;
	background-color: white;
	margin-bottom: 10px;
}
.recette-note{

}

.recette-partage{

}

.recette-dl{

}

.recette-ingredients{

}

.recette-ingredients > h2 {
	background-color: black;
	color: white;
	margin-top: 0px;
	font-size: 25px;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.recette-temps{

}
.recette-temps-prep > h2 {
	background-color: black;
	color: white;
	margin-top: 0px;
	font-size: 20px;
    display: block;
    text-align: center;
    padding: 5px;
    margin-left: auto;
  	margin-right: auto;
  	width: 75%;
}
.recette-temps-prep{
	color: black;
	text-align: center;
	margin-bottom: 10px;
	font-size: 20px;
}
.recette-temps-cuisson > h2 {
	background-color: black;
	color: white;
	margin-top: 0px;
	font-size: 20px;
    display: block;
    text-align: center;
    padding: 5px;
    margin-left: auto;
  	margin-right: auto;
  	width: 75%;
}
.recette-temps-cuisson{
	color: black;
	text-align: center;
	margin-bottom: 10px;
	font-size: 20px;
}

.recette-macro{

}
.recette-macro > h2 {
	background-color: black;
	color: white;
	margin-top: 0px;
	font-size: 20px;
    display: block;
    text-align: center;
    padding: 5px;
    margin-left: auto;
  	margin-right: auto;
  	width: 75%;
}
.recette-etapes{
	background-color: white;
	border: 2px solid black;
	margin-bottom: 10px;
	padding: 5px;
}

.recette-etapes > h2 {
	background-color: black;
	color: white;
	font-size: 20px;
    display: inline-block;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.recette-images{
	background-color: white;
	border: 2px solid black;
	margin-bottom: 10px;
}

.navbar-brand-projet{
	padding-top: 5px;
	padding-bottom: 5px;
}

.macros {
	display: none;
}